/* For All Sections */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
/* font-family: 'Poppins', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
/* font-family: 'Inter', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
/* font-family: 'Roboto', sans-serif; */
:root {
  --theme-color: #e02c6d;
  --text-color-900: #18191f;
  --text-color-800: rgba(0, 0, 0, 0.87);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}
header {
  margin: 5rem 7.5rem 4.31rem 7.5rem;
}

/* nav */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > ul {
  display: flex;
  align-items: center;
  gap: 2.21rem;
}
ul > li {
  list-style: none;
  gap: 2.21rem;
}
.nav-h1 {
  color: #3a3a3a;
  font-size: 1.5rem;
  font-weight: 700;
}
.li-text {
  color: #3a3a3a;
  font-size: 1rem;
  font-weight: 600;
}
.search-img {
  width: 1.5rem;
  height: 1.5rem;
}
.cart-img {
  width: 2.25rem;
  height: 2.25rem;
}
/* Banner Section */

.banner-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 5rem;
  margin-top: 3.14rem;
  margin-bottom: 4.31rem;
}
.banner-h1 {
  color: #3a3a3a;
  font-size: 3.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}
.banner-p {
  color: #3a3a3a;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}
.banner-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0.625rem 1.5rem;
  align-items: flex-start;
  gap: 0.5rem;
  border-radius: 2.5625rem;
  background: #e02c6d;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
}

.banner-right img {
  background-image: url('./images/Circle\ design.svg');
  background-size: 94%;
  background-repeat: no-repeat;
  width: 125%;
}

/* Main Company Section */
.main-company-section {
  display: flex;
  flex-direction: column;
  margin: 0 10rem 6.25rem;
}
.image-optimize {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 3.5rem;
}
.image-optimize img {
  display: flex;
}
.hr-style {
  background-image: linear-gradient(
    135deg,
    rgba(192, 204, 218, 0.1) 0%,
    rgba(192, 204, 218, 0.6) 50.38%,
    rgba(192, 204, 218, 0.1) 100%
  );
  height: 1.5px;
  border: none;
}

/* Main body boxes */
.main-body-boxes {
  margin-left: 12.25rem;
  margin-right: 12.25rem;
}
.main-h1 {
  text-align: center;
  color: #3a3a3a;
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 4.375rem; /* 250% */
  margin-bottom: 1.88rem;
}
.box-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.88rem;
  /* margin-left: 12.25rem;
  margin-right: 12.25rem; */
}
.h6 {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  justify-content: end;
  align-items: center;
  margin-top: 3rem;
  color: rgba(224, 44, 109, 0.87);
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.h6 img {
  display: flex;
}
.box {
  padding: 1.06rem 0.94rem 1.06rem 0.87rem;
  border-radius: 0.3125rem;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}
.box .product-img {
  width: 100%;
}
.rating {
  display: flex;
  gap: 0.65rem;
}
.name {
  color: var(--text-color-900);
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.5rem; /* 142.857% */
}
.price {
  color: rgba(0, 0, 0, 0.87);
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 2.25rem */
}
.rating-in-text {
  color: #5e6366;
  font-family: 'Roboto', sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.375rem; /* 157.143% */
  letter-spacing: 0.00625rem;
}
.box-description {
  color: #787885;
  font-family: 'Inter';
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 143%; /* 1.25125rem */
  letter-spacing: 0.01575rem;
  padding-right: 7.44rem;
}
/* For Mobile Screen */
@media screen and (max-width: 576px) {
  /* Nav styles */

  html {
    font-size: 12px;
  }

  header {
    margin: 1rem;
  }
  nav {
    flex-direction: column;
  }
  ul {
    padding: 1rem 2rem;
    background-color: var(--theme-color);
    border-radius: 2rem;
    margin-top: 1rem;
  }
  .cart-img,
  .search-img {
    display: none;
  }
  .li-text {
    color: white;
    font-weight: 400;
  }
  /* End of Nav section */
  /* Banner Section */
  .banner-section {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .banner-h1 {
    color: #3a3a3a;
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: center;
    margin-top: 2rem;
  }
  .banner-p {
    color: #3a3a3a;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
    display: flex;
    text-align: center;
  }
  .banner-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
  .banner-right img {
    background-image: url('./images/Circle\ design.svg');
    background-size: 94%;
    background-repeat: no-repeat;
    width: 70%;
  }
  .banner-right {
    display: flex;
    justify-content: center;
    width: 100vw;
    display: flex;
    margin-top: 2rem;
  }
  .banner-btn {
    display: flex;
    background: var(--theme-color);
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
  }
  .banner-btn > img {
    display: none;
  }
  /* Main company Section */

  .main-company-section {
    display: flex;
    flex-direction: column;
    margin: 2rem 1rem;
  }

  .image-optimize {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    justify-content: space-evenly;
    padding: 1rem 3.5rem;
  }
  .i-7 {
    display: none;
  }
  .image-optimize img {
    display: flex;
    width: 70%;
  }
  /* End of Banner Section */
  /* Main Body Boxes */
  .main-body-boxes {
    margin: 2.5rem;
  }
  .main-h1 {
    margin: 0;
    color: #3a3a3a;
    font-size: 1rem;
    font-weight: 600;
  }
  .box-container {
    display: flex;
    flex-direction: column;
    grid-gap: 0;
  }
  .h6 {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 3rem;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .h6 img {
    display: flex;
  }
  .box {
    margin-bottom: 1.5rem;
    padding: 1.06rem 0.94rem 1rem 0.88rem;
    border-radius: 0.3125rem;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  }
  .box .product-img {
    width: 100%;
  }
  .rating {
    display: flex;
    gap: 0.65rem;
  }
  .name {
    color: var(--text-color-900);
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.5rem; /* 142.857% */
  }
  .price {
    color: rgba(0, 0, 0, 0.87);
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 2.25rem */
  }
  .rating-in-text {
    color: #5e6366;
    font-family: 'Roboto', sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.375rem; /* 157.143% */
    letter-spacing: 0.00625rem;
  }
  .box-description {
    color: #787885;
    font-family: 'Inter';
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 143%; /* 1.25125rem */
    letter-spacing: 0.01575rem;
    padding-right: 7.44rem;
  }
}
